@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f5fc;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2em;
}
.container .c-right {
  gap: 1em;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
.container .c-right .img img {
  display: none;
}
.container .c-right .text-encr {
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.container .c-right .text-encr #encrip {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
.container .c-right .text-encr :nth-child(2) {
  width: 279px;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.container .c-right .text-c-right {
  width: 90%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin-bottom: 2em;
}
.container .c-right .text-c-right :first-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #343a40;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  padding-top: 1.5em;
}
.container .c-right .text-c-right :nth-child(3) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #495057;
  padding-bottom: 1.5em;
}
.container .c-left .textbox :first-child {
  border-style: none;
  width: 100%;
  margin-top: 2em;
  background-color: transparent;
  font-family: "Inter";
  color: #0a3871;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}
.container .c-left .textbox ::placeholder {
  font-family: "Inter";
  color: #0a3871;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}
.container .c-left .buttons .c-btn .text-c-btn {
  display: flex;
  align-items: center;
}
.container .c-left .buttons .c-btn .text-c-btn p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #495057;
  margin-left: 5px;
}
.container .c-left .buttons .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.container .c-left .buttons .btns :first-child {
  width: 343px;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.container .c-left .buttons .btns :nth-child(2) {
  width: 343px;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  border: 1px solid #0a3871;
  border-radius: 24px;
  background-color: transparent;
}

/* Estilos para tablet */
@media (min-width: 768px) {
  .container .c-left .buttons .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
/* Aquí van las reglas CSS que deseas aplicar en pantallas de escritorio */
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    gap: 5em;
    margin-top: 2em;
  }
  .container .c-right {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 944px;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
  }
  .container .c-right .img img {
    display: flex;
    width: 336px;
    height: 304px;
  }
  .container .c-right .text-c-right {
    width: 90%;
    height: 50%;
    margin: auto;
    background-color: transparent;
    box-shadow: none;
    border-radius: 32px;
    margin-bottom: 2em;
  }
  .container .c-right .text-c-right :first-child {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #343a40;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 0;
    padding-top: 1.5em;
  }
  .container .c-right .text-c-right :first-child .text-c-right {
    width: 90%;
    margin: 0;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-bottom: 0;
  }
  .container .c-left {
    height: 100%;
    display: grid;
    align-items: center;
    align-content: space-between;
    height: 944px;
  }
  .container .c-left .textbox :first-child {
    border-style: none;
    width: 100%;
    margin-top: 2em;
    background-color: transparent;
    font-family: "Inter";
    color: #0a3871;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  }
  .container .c-left .textbox ::placeholder {
    font-family: "Inter";
    color: #0a3871;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
